<style>
.star.active{
    fill:#FFD700;
}
svg.star{
    fill: #efefef;
}
svg.star:hover{
    fill: #FFD700;
}
</style>
<div id="chat21-star-rating-widget">
    <!-- HEADER -->
    <!-- 'background-color': colorBck, -->
    <div class="c21-header" [ngStyle]="{ 'color': g.themeForegroundColor, 'background-image': g.colorGradient180 }">
        <div class="c21-header-container">
            <!-- ICON CLOSE CHAT -->
            <!-- <div class="c21-header-button">
                <div class="c21-close-button c21-small"  aria-label="Close" aria-hidden="true" role="button">
                    <div class="c21-close-button-body" (click)="returnClosePage()">
                        <svg role="img" aria-labelledby="altIconTitle" [ngStyle]="{'fill': g.themeForegroundColor }"
                            xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                        </svg>
                    </div>
                </div>
            </div> -->

            <!-- CONTENT HEADER -->
            <div class="c21-header-content">
                <!-- ICON BACK -->
                <button *ngIf="(step > 0 && step != 2)" tabindex="1417" aria-label=" indietro " class="c21-header-button c21-left c21-button-clean" (click)="prevStep()">
                    <svg role="img" aria-labelledby="altIconTitle" [ngStyle]="{'fill': stylesMap?.get('foregroundColor') }" xmlns="http://www.w3.org/2000/svg"
                        width="24px" height="24px" viewBox="0 0 24 24">
                        <!-- <path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"/> -->
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
                        <title id="altIconTitle">{{ g.BACK }}</title>
                    </svg>
                </button>
                <!-- TITLE HEADER -->
                <div class="c21-title" [ngStyle]="{'color': g.themeForegroundColor}">
                    <span>{{ g.CUSTOMER_SATISFACTION }}</span>
                </div>
            </div>

        </div>
    </div>


    <!-- CONTENT -->
    <div class="c21-body">

        <div class="c21-body-container">

            <div class="c21-body-content">

                <!-- ***************  STEP 0 : BEGIN ***************** -->
                <div *ngIf="step==0" class="step-rate">
                    <div *ngIf="g.allowTranscriptDownload" class="c21-modal-content" style="text-align: right; margin: 0px 20px 30px 10px;">
                        <div class="c21-link" (click)="dowloadTranscript()" >
                            <span [ngStyle]="{'color': g.themeColor}">{{ g.DOWNLOAD_TRANSCRIPT }}</span>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <!-- CONTENT -->
                    <div class="c21-modal-content">
                        <div class="default-text">{{ g.YOUR_OPINION_ON_OUR_CUSTOMER_SERVICE }}</div>
                        <fieldset class="chat21-rating" [attr.disabled]="!g.isOpenStartRating? '' : null">
                            <input class="c21-input-star" type="radio" id="star1" name="rating" value="1" />
                            <label (mouseover)="mouseOverRate(1)" (mouseleave)="mouseOverRate(0)" (click)="openRate(1)" class="full c21-button" for="star1" title="scarso - 1 star">
                                <svg class="star" [class.active]="mouseRate>=1" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label>
                            <input class="c21-input-star" type="radio" id="star2" name="rating" value="2" />
                            <label (mouseover)="mouseOverRate(2)" (mouseleave)="mouseOverRate(0)" (click)="openRate(2)" class="full c21-button" for="star2" title="sufficiente - 2 stars">
                                <svg class="star" [class.active]="mouseRate>=2" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label>
                            <input class="c21-input-star" type="radio" id="star3" name="rating" value="3" />
                            <label (mouseover)="mouseOverRate(3)" (mouseleave)="mouseOverRate(0)" (click)="openRate(3)" class="full c21-button" for="star3" title="buono - 3 stars">
                                <svg class="star" [class.active]="mouseRate>=3" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label>
                            <input class="c21-input-star" type="radio" id="star4" name="rating" value="4" />
                            <label (mouseover)="mouseOverRate(4)" (mouseleave)="mouseOverRate(0)" (click)="openRate(4)" class="full c21-button" for="star4" title="ottimo - 4 stars">
                                <svg class="star" [class.active]="mouseRate>=4" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label>
                            <input class="c21-input-star" type="radio" id="star5" name="rating" value="5" />
                            <label (mouseover)="mouseOverRate(5)" (mouseleave)="mouseOverRate(0)" (click)="openRate(5)" class="full c21-button" for="star5" title="eccellente - 5 stars">
                                <svg class="star" [class.active]="mouseRate>=5" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label>
                        </fieldset>
                    </div>
                    <div class="clear"></div>
                    <!-- <button [attr.disabled]="!g.isOpenStartRating? '' : null" *ngIf="g.allowTranscriptDownload !== true" class="c21-button-primary" [ngStyle]="{'background-color': g.themeColor, 'border-color': g.themeColor}"
                        (click)="dowloadTranscript()">
                        <span [ngStyle]="{'color': g.themeForegroundColor}">{{ g.DOWNLOAD_TRANSCRIPT }}</span>
                    </button> -->
                    <!-- <button class="c21-button-link" (click)="returnClosePage()">
                        <span>{{ g.CLOSE }}</span>
                    </button> -->

                     <!-- ICON CLOSE -->
                    <button tabindex="1414"  class="c21-button-primary" (click)="returnClosePage()" [ngStyle]="{'background-color': stylesMap?.get('themeColor'), 'border-color': stylesMap?.get('themeColor'), 'color': stylesMap?.get('foregroundColor') }">
                        <span class="v-align-center">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.53034 5.46966C6.23745 5.17677 5.76257 5.17677 5.46968 5.46966C5.17679 5.76256 5.17679 6.23743 5.46968 6.53032L10.9393 12L5.46967 17.4697C5.17678 17.7626 5.17678 18.2374 5.46967 18.5303C5.76256 18.8232 6.23744 18.8232 6.53033 18.5303L12 13.0607L17.4697 18.5303C17.7626 18.8232 18.2375 18.8232 18.5303 18.5303C18.8232 18.2374 18.8232 17.7626 18.5303 17.4697L13.0607 12L18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967C18.2374 5.17678 17.7626 5.17678 17.4697 5.46967L12 10.9393L6.53034 5.46966Z" fill="white"/>
                          </svg>
                        </span>
                        <span class="v-align-center c21-label-button">
                            {{ g.CLOSE }}
                          <!-- {{translationMap?.get('LABEL_START_NW_CONV')}} -->
                        </span>
                        <div class="clear"></div>
                    </button>
                </div>
                <!-- ***************  STEP 0 : END ***************** -->

                <!-- ***************  STEP 1 : BEGIN ***************** -->
                <div *ngIf="step==1" class="step-rate">
                    <!-- CONTENT -->
                    <!-- <div *ngIf="g.allowTranscriptDownload" class="c21-modal-content" style="text-align: right; margin: 0px 20px 30px 10px;">
                        <div class="c21-link" (click)="dowloadTranscript()" >
                            <span [ngStyle]="{'color': g.themeColor}">{{ g.DOWNLOAD_TRANSCRIPT }}</span>
                        </div>
                    </div> -->
                    <div class="clear"></div>
                    <div class="c21-step-content">
                        <!-- il tuo voto: -->

                        <!-- <div class="chat21-stars">
                            <span *ngIf="rate>0" class="fa fa-star checked"></span>
                            <span *ngIf="rate>1" class="fa fa-star checked"></span>
                            <span *ngIf="rate>2" class="fa fa-star checked"></span>
                            <span *ngIf="rate>3" class="fa fa-star checked"></span>
                            <span *ngIf="rate>4" class="fa fa-star checked"></span>
                        </div> -->
                        <!-- <div class="default-text">{{ g.YOUR_RATING }}</div> -->


                        <!-- Scrivi la tua opinione...(opzionale) -->
                        <textarea #textbox rows="1" id="chat21-message-rate-context" class='textarea-rate'
                            placeholder="{{ g.WRITE_YOUR_OPINION }}">{{message}}</textarea>
                        <div class="clear"></div>

                        <!-- ICON CLOSE -->
                        <button tabindex="1415"  class="c21-button-primary" (click)="returnClosePage()" [ngStyle]="{'background-color': stylesMap?.get('themeColor'), 'border-color': stylesMap?.get('themeColor'), 'color': stylesMap?.get('foregroundColor') }">
                            <span class="v-align-center">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53034 5.46966C6.23745 5.17677 5.76257 5.17677 5.46968 5.46966C5.17679 5.76256 5.17679 6.23743 5.46968 6.53032L10.9393 12L5.46967 17.4697C5.17678 17.7626 5.17678 18.2374 5.46967 18.5303C5.76256 18.8232 6.23744 18.8232 6.53033 18.5303L12 13.0607L17.4697 18.5303C17.7626 18.8232 18.2375 18.8232 18.5303 18.5303C18.8232 18.2374 18.8232 17.7626 18.5303 17.4697L13.0607 12L18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967C18.2374 5.17678 17.7626 5.17678 17.4697 5.46967L12 10.9393L6.53034 5.46966Z" fill="white"/>
                              </svg>
                            </span>
                            <span class="v-align-center c21-label-button">
                                {{ g.CLOSE }}
                              <!-- {{translationMap?.get('LABEL_START_NW_CONV')}} -->
                            </span>
                            <div class="clear"></div>
                        </button>

                        <!-- ICON SUBMIT -->
                        <button tabindex="1416"  class="c21-button-primary c21-button-submit" (click)="sendRate()" [ngStyle]="{'background-color': stylesMap?.get('themeColor'), 'border-color': stylesMap?.get('themeColor'), 'color': stylesMap?.get('foregroundColor') }">
                            <span class="v-align-center">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.19279 6.57843C1.36183 4.08551 3.91012 1.80468 6.29602 2.90587L20.0983 9.27616C22.422 10.3487 22.422 13.6514 20.0983 14.7239L6.29603 21.0941C3.91012 22.1953 1.36183 19.9145 2.19281 17.4216L3.68376 12.9487C3.88903 12.3329 3.88903 11.6672 3.68377 11.0514L2.19279 6.57843ZM5.66743 4.26781L19.4697 10.6381C20.6316 11.1743 20.6316 12.8257 19.4697 13.362L5.66744 19.7322C4.47449 20.2828 3.20034 19.1424 3.61583 17.8959L5.10679 13.4231C5.18037 13.2023 5.23637 12.9773 5.27479 12.75H14C14.4142 12.75 14.75 12.4142 14.75 12C14.75 11.5858 14.4142 11.25 14 11.25H5.27477C5.23636 11.0228 5.18037 10.7977 5.10679 10.577L3.61582 6.10409C3.20033 4.85763 4.47449 3.71721 5.66743 4.26781Z" fill="white"/>
                              </svg>
                            </span>
                            <span class="v-align-center c21-label-button">
                                {{ g.SUBMIT }}
                              <!-- {{translationMap?.get('LABEL_START_NW_CONV')}} -->
                            </span>
                            <div class="clear"></div>
                        </button>

                    </div>

                </div>
                <!-- ***************  STEP 1 : END ***************** -->

                <!-- ***************  STEP 2 : BEGIN ***************** -->
                <div *ngIf="step==2" class="step-rate">
                    <div *ngIf="g.allowTranscriptDownload" class="c21-modal-content" style="text-align: right; margin: 0px 20px 30px 10px;">
                        <div class="c21-link" (click)="dowloadTranscript()" >
                            <span [ngStyle]="{'color': g.themeColor}">{{ g.DOWNLOAD_TRANSCRIPT }}</span>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <!-- CONTENT -->
                    <div class="c21-step-content">
                        <div class="default-title">{{ g.THANK_YOU_FOR_YOUR_EVALUATION }}</div>
                        <div class="default-text">{{ g.YOUR_RATING_HAS_BEEN_RECEIVED }}</div>
                    </div>

                    <!-- ICON CLOSE -->
                    <button tabindex="1415"  class="c21-button-primary" (click)="returnClosePage()" [ngStyle]="{'background-color': stylesMap?.get('themeColor'), 'border-color': stylesMap?.get('themeColor'), 'color': stylesMap?.get('foregroundColor') }">
                        <span class="v-align-center">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.53034 5.46966C6.23745 5.17677 5.76257 5.17677 5.46968 5.46966C5.17679 5.76256 5.17679 6.23743 5.46968 6.53032L10.9393 12L5.46967 17.4697C5.17678 17.7626 5.17678 18.2374 5.46967 18.5303C5.76256 18.8232 6.23744 18.8232 6.53033 18.5303L12 13.0607L17.4697 18.5303C17.7626 18.8232 18.2375 18.8232 18.5303 18.5303C18.8232 18.2374 18.8232 17.7626 18.5303 17.4697L13.0607 12L18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967C18.2374 5.17678 17.7626 5.17678 17.4697 5.46967L12 10.9393L6.53034 5.46966Z" fill="white"/>
                          </svg>
                        </span>
                        <span class="v-align-center c21-label-button">
                            {{ g.CLOSE }}
                          <!-- {{translationMap?.get('LABEL_START_NW_CONV')}} -->
                        </span>
                        <div class="clear"></div>
                    </button>
                </div>
                <!-- ***************  STEP 2 : END ***************** -->


            </div>

        </div>

    </div>

</div>
