@import '../../../../../sass/variables';

:host {
  --backgroundColor: #F1F2F6;
  --textColor: #1B384F;
  --hoverBackgroundColor: #F1F2F6;
  --hoverTextColor: #1B384F;
  --buttonFontSize: 16px;
}


.button-in-msg {

    padding: 8px 16px!important;
    position: relative;
    max-width: 300px;
    min-width: inherit;
    cursor: pointer;
    border: 1px solid #1B384F; //$blue
    border-radius: 12px;
    margin: 3px;
    background: #F1F2F6;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    color: #1B384F; //$blue
    line-height: 16px;
}

.text {
    // color: rgb(42, 106, 193);
    transition: background-color .6s ease;
    &:focus,
    &:hover {
        color: #ffffff;
        background: #4556f2;
        border: 1px solid #4556f2;
        .icon-button-action {
            svg {
                fill: #ffffff;
            }
        }
    }
}
