@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/avenir-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/avenir-regular.woff2") format("woff2");
}
