@import '../../../../sass/variables';

.message_innerhtml {
    font-size: 1.6em !important;
    margin: 0px;
    // padding: 0px 14px;
    &.marked{
        padding:0;
        margin-block-start: -1em!important;
        margin-block-end: -1em!important;
    }

    .text-message {
        padding-top: 14px;
    }
}

.msg_sent .message_innerhtml {
  color: #ffffff !important;
}

p {
    font-size: 1.4em;
    margin: 0;
    padding: 14px;
    line-height: 1.4em;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 300;
    overflow: hidden;
}
