#c21-menu-options{
    .modal-menu-options {
        width: auto;
        height: auto;
        min-height: 40px;
        min-width: 100px;
        max-width: 80%;
        position: absolute;
        bottom: 40px;
        left: 5px;
        border-radius: 10px;
        font-size: 1.4em;
        line-height: normal;
        overflow: hidden;
        border: 0 !important;
        margin: 0;
        background-color: #F6F7FB;
        z-index: 25;
        padding: 10px 15px;
    }

    .button-menu-options {
        position: absolute;
        width: auto;
        line-height: 12px;
        font-size: 1em;
        font-weight: bold;
        color: #777777;
        display: inline-block;
        align-items: center;
        margin: 4px 6px;
        padding: 0px 0px;
        cursor: pointer;
    }
    .button-menu-options:hover{
        background-color: whitesmoke;
        border-radius: 50%;
    }
}





.c21-button{
    cursor: pointer;
    margin: 0;
    padding: 0;
    // margin: 10px 0;
    // padding: 0 10px;
    color:#000000;
    display: flex;
    align-items: center;
    // font-weight: bold;
}
.c21-button:hover {
    background-color: whitesmoke;
    border-radius: 6px;
    cursor: pointer;
}
.c21-button:not(:first-child) {
  margin-top: 20px;
}

.label-menu-welcome{
    cursor: default;
    font-weight: 500;
    margin: 10px 0;
    padding: 0 10px;
}


#c21-options-menu {
    width: auto;
    height: auto;
    min-height: 40px;
    min-width: 100px;
    max-width: 80%;
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 15px;
    border-radius: 10px;
    font-size: 1.4em;
    line-height: normal;
    overflow: hidden;
    border: 0 !important;
    margin: 0;
    background-color: #F6F7FB;
    padding: 10px 15px;
}

#c21-options-menu .c21-header-button {
  margin: 0;
  padding: 0;
  color:#000000;
  display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#c21-options-menu .c21-header-button:not(:first-child) {
  margin-top: 20px;
}
.label-menu-item {
    line-height: 20px;
    position: relative;
    margin: 0;
    margin-left: 10px;
}
#c21-options-menu .label-menu-item {
    line-height: 20px;
    position: relative;
    margin: 0 10px 0px 10px;
}
